*.pyc
*.tif
*.tiff
*.nc
*.csv
*.xml
*.png
*.csv
*.zip
*.qgz
*.pdf
*.shp
*.prj
*.shx
*.dbf
*.rar
*.ovr
*.log
*.vrt
*.tar
*.jp2
*.txt
*.safe
*.tar.gz
*.cpg
*.qmd
*.xx
*.qix
*xlsx
*.tar_temp
/data
*espa*.json
/vs
/juc_roi*